@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Nunito+Sans:wght@300;600;800&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.login.light {
  --background: white;
  --text: black;
  --accent: rgb(189, 99, 26);
}

.login.dark {
  --background: #2a2b2b;
  --text: #fff;
  --accent: #ff9800;
}
/* 
body {
  background-color: maroon;
  color: var(--text);
  font-family: "Roboto", sans-serif;
} */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left-side {
  background: url("/src/assets/images/books.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.left-side h3,
p {
  z-index: 999;
  width: 50%;
  margin-bottom: 20px;
  color: Gold;
}
.left-side h3 {
  font-weight: 300;
  font-size: 36px;
  color: Gold;
}
.left-side p {
  font-weight: 100;
  font-size: 14px;
}
span {
  color: var(--accent);
  font-weight: 700;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: maroon;
}
.form-container h4 {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 300;
  color: var(--text);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--accent);
}
.form-container input {
  padding: 6px 12px;
  border-radius: 6px;
  width: 350px;
  margin-bottom: 20px;
  outline: none;
  border: 0.5px solid rgb(227, 219, 219);
  color: var(--text);
  background-color: var(--background);
  transition: 0.5s ease;
}
.form-container input:hover {
  border: 1px solid var(--accent);
}
.form-container button {
  width: 350px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 0.5px solid rgb(227, 219, 219);
  outline: none;
  background-color: var(--background);
  text-transform: uppercase;
  letter-spacing: 0.1cm;
  color: var(--text);
  margin-bottom: 20px;
}
.form-container button:hover {
  cursor: pointer;
}
.error {
  color: var(--accent);
}
.btn-e {
  width: 150px;
  padding: 4px 8px;
  border-radius: 12px;
  border: 0.5px solid rgb(227, 219, 219);
  outline: none;
  background-color: var(--background);
  text-transform: uppercase;
  letter-spacing: 0.1cm;
  color: var(--accent);
}
.btn-e:hover {
  border: 1px solid var(--accent);
}
